<div class="container" ng-init="init()">
    <div class="navbar" role="navigation">
        <div class="navbar-header">
            <h3>
                <i class="{{activity.icon}}"></i>&nbsp;{{activity.Name}}</h3>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a><i class="fa fa-print"></i>&nbsp;打印</a></li>
            <li><a ng-click="gotoProject(activity.ProjectId)"><i class="fa fa-level-up"></i>&nbsp;项目</a></li>
        </ul>
    </div>
    <hr class="header-hr" />
    <div class="alert alert-danger {{alertMessageVisible}}">
        {{alertMessage}}</div>
    <blockquote>
        <p>
            {{activity.Description}}</p>
        <footer> &nbsp; <a>{{activity.creatorName}}</a>&nbsp;于&nbsp;{{activity.Modification | jsonDateFormat | date:'yyyy-MM-dd'}}&nbsp;创建</footer>
    </blockquote>
    <div ng-include="taskListPage">
    </div>
</div>
