<div>
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <input type="text" class="form-control" placeholder="请输入关键字" />
            </div>
            <div class="col-sm-3 col-sm-offset-7">
                <div>
                    <button type="button" class="btn btn-primary" ng-click="createProject()">
                        创建新项目</button>
                    <button type="button" class="btn btn-primary" ng-click="createActivity()">
                        创建新活动</button>
                </div>
            </div>
        </div>
        <ul class="nav nav-tabs" style="margin-top: 8px;">
            <li class="active"><a href="javascript:void(0)">活动</a></li>
            <li><a href="javascript:void(0)">项目</a></li>
        </ul>
        <ul class="pager">
            <li><a href="#">上一页</a></li>
            <li><a href="#">下一页</a></li>
        </ul>
    </div>
</div>
