<div ng-init="init()">
    <div class="container">
        <form class="form-horizontal" role="form">
        <h2>
            创建新项目</h2>
        <div class="form-group">
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="项目名" ng-model="project.name" required
                    autofocus>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <textarea class="form-control" placeholder="项目的概要介绍" ng-model="project.description" rows="3"></textarea>
            </div>
        </div>
        <h3>
            邀请项目成员</h3>
        <div class="form-group">
            <div class="col-sm-2">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        点击邀请成员 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="item in users"><a href="javascript:void(0)" ng-click="addParticipant(item)">{{item.Name}}</a></li>
                    </ul>
                </div>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="item in participants">{{item.Name}}<span class="glyphicon glyphicon-remove" ng-click="removeParticipant(item)"></span></li>
                </ul>
            </div>
            <div class="col-sm-1">
                <button class="btn btn-default">
                    所有人</button></div>
        </div>
        <div class="form-group">
            <div class="col-sm-4">
                <button class="btn btn-primary" ng-click="save()">
                    创建项目</button>
                <button class="btn btn-default" ng-click="cancel()">
                    取消</button>
            </div>
        </div>
        </form>
    </div>
</div>
