<div ng-init="init()">
    <div class="container">
        <div class="navbar" role="navigation">
            <div class="navbar-header">
                <h3>
                    {{project.Name}}</h3>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a title="管理成员" class="navbar-link"><span class="glyphicon glyphicon-user"></span>
                    成员</a></li>
                <li><a title="管理成员"><span class="glyphicon glyphicon-cog"></span>设置</a></li>
                <li><a title="管理成员"><span class="glyphicon glyphicon-print"></span>打印</a></li>
                <li><a title="管理成员"><span class="glyphicon glyphicon-tasks"></span>进展</a></li>
                <li><a title="管理成员"><span class="glyphicon glyphicon-stats"></span>统计</a></li>
            </ul>
        </div>
        <hr style="border-top: solid 3px #5277a9; border-bottom: solid 1px #5277a9; padding-top: 2px;" />
        <div class="navbar">
            <div class="navbar-header">
                <a class="navbar-brand" href="javascript:void(0);">活动</a>
            </div>
            <form class="navbar-form navbar-left">
            <button type="button" class="btn btn-default btn-sm" ng-click="toggleAddActivityPanelVisibible()">
                {{addActivityBtnTitle}}</button>
            </form>
        </div>
        <div style="display: {{addActivityPanelDisplay}};">
            <form class="form-horizontal" role="form">
            <div class="form-group">
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="活动名" ng-model="activity.name"
                        required autofocus>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <textarea class="form-control" placeholder="活动的概要介绍" ng-model="activity.description"
                        rows="3"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4">
                    <button class="btn btn-primary" ng-click="saveActivity()">
                        创建活动</button>
                </div>
            </div>
            </form>
        </div>
        <ol class="list-unstyled">
            <li ng-repeat="item in activityList">
                <h4>
                    <a href="#">{{item.Name}}</a></h4>
                <span class="pull-right">{{item.Modification | jsonDateFormat | date:'yyyy-MM-dd'}}</span>
                <p>
                    {{item.Description}}</p>
                <div ng-include="'partials/task-list-details.htm'"></div>
                <hr />
            </li>
        </ol>
    </div>
</div>
