<div ng-init="init()">
    <div class="container">
        <div class="navbar" role="navigation">
            <div class="navbar-header">
                <h3>
                    {{project.Name}}</h3>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a title="管理成员" class="navbar-link"><span class="glyphicon glyphicon-user"></span>
                    成员</a></li>
                <li><a title="管理成员"><span class="glyphicon glyphicon-cog"></span>设置</a></li>
                <li><a title="管理成员"><span class="glyphicon glyphicon-print"></span>打印</a></li>
                <li><a title="管理成员"><span class="glyphicon glyphicon-tasks"></span>进展</a></li>
                <li><a title="管理成员"><span class="glyphicon glyphicon-stats"></span>统计</a></li>
            </ul>
        </div>
        <hr style="border-top: solid 3px #5277a9; border-bottom: solid 1px #5277a9; padding-top: 2px;" />
        <div class="navbar">
            <div class="navbar-header">
                <a class="navbar-brand" href="javascript:void(0);">活动</a>
            </div>
            <form class="navbar-form navbar-left">
            <button type="button" class="btn btn-default btn-sm" ng-click="toggleAddActivityPanelVisibible()">
                {{addActivityBtnTitle}}</button>
            </form>
        </div>
        <div style="display: {{addActivityPanelDisplay}};">
            <form class="form-horizontal css-form" role="form" name="form">
            <div class="form-group">
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="活动名" name="name" ng-model="activity.name"
                        ng-maxlength="32" required autofocus>
                    <p class="help-block">
                        （<span class="text-info">文本长度限制在32个字符内</span>）</p>
                    <span class="text-danger" ng-show="form.name.$error.maxlength">警告：活动名太长</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <textarea class="form-control" placeholder="活动的概要介绍" name="desc" ng-model="activity.description"
                        ng-maxlength="255" rows="3"></textarea>
                    <p class="help-block">
                        （<span class="text-info">文本长度限制在255个字符内</span>）</p>
                    <span class="text-danger" ng-show="form.desc.$error.maxlength">警告：概要介绍太长</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <button class="btn btn-primary" ng-click="saveActivity()" ng-disabled="form.$invalid || isLoading"
                        ng-switch="isLoading">
                        <span ng-switch-when="true">正在创建中...</span> <span ng-switch-when="false">创建活动</span></button>
                </div>
            </div>
            <div class="alert alert-danger {{alertMessageVisible}}">
                {{alertMessage}}</div>
            </form>
        </div>
        <ol class="list-unstyled">
            <li ng-repeat="item in activityList">
                <h4>
                    <a href="#">{{item.Name}}</a></h4>
                <span class="pull-right">{{item.Modification | jsonDateFormat | date:'yyyy-MM-dd'}}</span>
                <p>
                    {{item.Description}}</p>
                <div ng-include="'partials/task-list-details.htm'">
                </div>
                <hr />
            </li>
        </ol>
    </div>
</div>
