<div>
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <!--<input type="text" class="form-control" placeholder="请输入关键字" />-->
            </div>
            <div class="col-sm-3 col-sm-offset-7">
                <div>
                    <button type="button" class="btn btn-primary" ng-click="createActivity()">
                        创建新活动</button>
                    <button type="button" class="btn btn-default" ng-click="createProject()">
                        创建新项目</button>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col-sm-8 blog-main">
                <div ng-controller="ActivityListCtrl" ng-init="init()">
                    <ul class="timeline">
                        <li><span class="bg-orange time-label">活动时间轴</span>
                            <br />
                            <br />
                        </li>
                        <li ng-repeat="item in activityList" ng-switch="item.isDate"><span ng-switch-when="true"
                            class="bg-light-blue time-label">{{item.date}}</span> <i ng-switch-when="false" class="{{item.icon}} bg-blue">
                            </i>
                            <div ng-switch-when="false" class="timeline-item">
                                <span class="time"><i class="fa fa-clock-o"></i>&nbsp;{{item.creation | jsonDateFormat | date:'yyyy-MM-dd'}}</span>
                                <h3 class="timeline-header">
                                    <a href="javascript:void(0)" ng-click="gotoDetails(item.id)">{{item.name}}</a></h3>
                                <div class="timeline-body">
                                    {{item.desc}}
                                </div>
                                <div class='timeline-footer'>
                                    <a class="btn btn-primary btn-xs" ng-click="gotoDetails(item.id)">详细信息</a>
                                    <a class="btn btn-danger btn-xs" ng-click="gotoProject(item.projectId)">所属项目</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
                <div class="sidebar-module sidebar-module-inset">
                    <h4>
                        统计</h4>
                    <p>
                    </p>
                </div>
                <div class="sidebar-module" ng-controller="ProjectListCtrl" ng-init="init()">
                    <h4>
                        最新项目</h4>
                    <ol class="list-unstyled">
                        <li ng-repeat="item in projectList"><a href="javascript:void(0)" ng-click="gotoDetails(item.Id)">
                            {{item.Name}}</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
