<div class="container" ng-init="init()">
    <div class="navbar" role="navigation">
        <div class="navbar-header">
            <h3>
                <i class="fa fa-edit"></i>&nbsp;编辑任务</h3>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a ng-click="remove()"><i class="fa fa-trash-o"></i>&nbsp;删除</a></li>
            <li><a ng-click="gotoback()"><i class="fa fa-level-up"></i>&nbsp;返回</a></li>
        </ul>
    </div>
    <hr class="header-hr" />
    <form class="form-horizontal css-form" role="form" name="form">
    <div class="form-group">
        <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="任务内容" name="content" ng-model="task.Content"
                    ng-maxlength="255" required autofocus>
            <p class="help-block">
                （<span class="text-info">文本长度限制在255个字符内</span>）</p>
            <span class="text-danger" ng-show="form.name.$error.maxlength">警告：内容太长</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6">
            <button class="btn btn-primary" ng-click="save()" ng-disabled="form.$invalid || isLoading"
                ng-switch="isLoading">
                <span ng-switch-when="true">正在保存中...</span> <span ng-switch-when="false">保存修改</span></button>
        </div>
    </div>
    <div class="alert {{alertMessageColor}} {{alertMessageVisible}}">
        {{alertMessage}}</div>
    </form>
</div>
