<div class="container" ng-init="init()">
    <div class="navbar" role="navigation">
        <div class="navbar-header">
            <h3>
                <i class="fa fa-leaf"></i>&nbsp;任务</h3>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a ng-click="gotoActivity(task.ActivityId)"><i class="fa fa-level-up"></i>&nbsp;所属活动</a></li>
            <li><a><i class="fa fa-print"></i>&nbsp;打印预览</a></li>
        </ul>
    </div>
    <hr class="header-hr" />
    <blockquote>
        <p>
            {{task.Content}}</p>
        <footer> &nbsp; 指派方向：<a>{{activity.CreatorName}}</a>&nbsp;<i class="fa fa-long-arrow-right"></i>&nbsp;<a>{{task.staffName}}</a>&nbsp;&nbsp;&nbsp;&nbsp;截止时间：{{task.AppointedDay | jsonDateFormat | date:'yyyy-MM-dd'}}</footer>
    </blockquote>
    <div class="alert alert-danger {{alertMessageVisible}}">
        {{alertMessage}}</div>
    <div class="row" style="margin: 2em 2em 0 2em;">
        <ol class="list-unstyled">
            <li ng-repeat="item in commentList" style="border-bottom: dotted #ccc 1px; margin-top: 8px;">
                <p>
                    <a>{{item.creatorName}}</a><span class="pull-right">{{item.Creation | jsonDateFormat
                        | date:'yyyy-MM-dd HH:mm:ss'}}&nbsp;&nbsp;<mark>[{{item.index}}楼]</mark></span></p>
                <p>
                    {{item.Content}}</p>
                <p class="text-right">
                    <a style="display: {{item.editCommentButtonVisible}};" ng-click="editComment(item)">
                        <i class="fa fa-edit"></i>&nbsp;编辑</a>&nbsp;&nbsp;|&nbsp;&nbsp;<small>
                            <abbr title="发表评论后，系统会自动发系统通知给对方；此处为提供的其它通知手段。">
                                通知方式：</abbr></small> &nbsp;&nbsp;<a href="mailto:#" class="btn btn-default btn-xs"><i
                                    class="fa fa-envelope"></i>&nbsp;邮件</a>&nbsp;&nbsp;<a class="btn btn-default btn-xs"><i
                                        class="fa fa-qq"></i>&nbsp;QQ</a>&nbsp;&nbsp;<a class="btn btn-default btn-xs"><i
                                            class="fa fa-phone"></i>&nbsp;电话</a></p>
            </li>
        </ol>
    </div>
    <div class="row" style="margin: 2em 2em 0 2em;" name="editCommentPanel">
        <form class="form-horizontal css-form" role="form" name="form">
        <h3>
            发表评论</h3>
        <div class="form-group">
            <div class="col-sm-6">
                <textarea class="form-control" placeholder="内容" name="content" ng-model="comment.content"
                    rows="6" ng-maxlength="1024" required autofocus></textarea>
                <p class="help-block">
                    （<span class="text-info">文本长度限制在1024个字符内</span>）</p>
                <span class="text-danger" ng-show="form.content.$error.maxlength">警告：内容太长</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <button type="submit" class="btn btn-primary" ng-click="saveComment()" ng-disabled="form.$invalid || isLoading"
                    ng-switch="isLoading">
                    <span ng-switch-when="true">正在保存中...</span> <span ng-switch-when="false">保存</span></button>
                <button type="button" class="btn btn-default" ng-click="clearComment()">
                    清空</button>
            </div>
        </div>
        </form>
    </div>
</div>
