<div class="story container" ng-init="init()">
    <div class="page-header">
        <span class="lead"><i class="fa {{actionModeIcon}}"></i>&nbsp;{{actionMode}}短语</span>
        <ul class="list-inline pull-right">
            <li><a href="#/idiom-list/{{idiom.Scope}}/"><i class="fa fa-level-up"></i>&nbsp;返回列表</a></li>
        </ul>
    </div>
    <form class="form-horizontal css-form" role="form" name="form">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <textarea class="form-control" placeholder="内容" name="content" ng-model="idiom.Content"
                        ng-maxlength="1024" rows="6"></textarea>
                    <p class="help-block">
                        （<span class="text-info">文本长度限制在1024个字符内</span>）</p>
                    <span class="text-danger" ng-show="form.content.$error.maxlength">警告：内容太长</span>
                </div>
                <div class="form-group">
                    <button class="btn btn-default" ng-click="clear()">
                        清空</button>
                    <button class="btn btn-primary" type="submit" ng-disabled="form.$invalid || isLoading"
                        ng-switch="isLoading" ng-click="save()">
                        <span ng-switch-when="true">正在保存中...</span> <span ng-switch-when="false">保存</span></button>
                </div>
                <div class="alert {{alertMessageColor}} {{alertMessageVisible}}">
                    {{alertMessage}}</div>
            </div>
        </div>
    </div>
    </form>
</div>
