<div class="story container" ng-init="init()">
    <div class="page-header">
        <span class="lead"><i class="fa fa-key"></i>&nbsp;修改密码</span>
    </div>
    <form class="form-horizontal css-form" role="form" name="form">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="旧密码" name="oldPwd" ng-model="user.oldPwd"
                        ng-maxlength="32" ng-pattern="/^([a-zA-Z0-9])+$/" required>
                    <p class="help-block">
                        （<span class="text-info">文本长度限制在32个字符内</span>）</p>
                    <span class="text-danger" ng-show="form.oldPwd.$error.maxlength">警告：密码太长</span>
                    <span class="text-danger" ng-show="form.oldPwd.$error.pattern">警告：密码只能是由字母和数字的组合。</span>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="新密码" name="newPwd" ng-model="user.newPwd"
                        ng-maxlength="32" ng-pattern="/^([a-zA-Z0-9])+$/" required>
                    <p class="help-block">
                        （<span class="text-info">文本长度限制在32个字符内</span>）</p>
                    <span class="text-danger" ng-show="form.newPwd.$error.maxlength">警告：密码太长</span>
                    <span class="text-danger" ng-show="form.newPwd.$error.pattern">警告：密码只能是由字母和数字的组合。</span>
                </div>
                <div class="form-group" ng-class="{'has-error':!isSamePwd, '':isSamePwd}">
                    <input type="password" class="form-control" placeholder="验证密码" name="newPwd2" ng-model="user.newPwd2"
                        ng-maxlength="32" ng-blur="newPwd2Changed()" required>
                    <label class="control-label" for="newPwd2" ng-show="!isSamePwd">
                        密码不一致</label>
                    <p class="help-block">
                        （<span class="text-info">验证密码要与新密码一致</span>）</p>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit" ng-disabled="form.$invalid || isBusy"
                        ng-click="save()">
                        <i class="fa" ng-class="{'fa-cog fa-spin': isBusy, 'fa-upload': !isBusy}"></i>&nbsp;提交</button>
                </div>
                <div class="form-group {{alertMessageVisible}} alert" ng-class="{'alert-success':isSuccess,'alert-danger':!isSuccess}">
                    {{alertMessage}}</div>
            </div>
        </div>
    </div>
    </form>
</div>
