<div class="story container" ng-init="init()">
    <ul class="breadcrumb">
        <li><i class="fa fa-location-arrow"></i>&nbsp;当前位置</li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">项目 <span
            class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#/project-details/{{activity.ProjectId}}/"><i class="fa fa-table fa-fw">
                </i>&nbsp;详细</a></li>
                <li><a href="#/participant-list/{{activity.ProjectId}}/"><i class="fa fa-users fa-fw">
                </i>&nbsp;成员</a></li>
                <li><a href="#/calendar-list/{{activity.ProjectId}}/"><i class="fa fa-calendar-o fa-fw">
                </i>&nbsp;日程</a></li>
                <li><a href="#/log-list/{{activity.ProjectId}}/"><i class="fa fa-magic fa-fw"></i>&nbsp;记事</a></li>
            </ul>
        </li>
        <li class="active">活动</li>
    </ul>
    <div class="page-header">
        <span class="lead"><i class="{{activity.icon}}"></i>&nbsp;{{activity.Name}}</span>
        <ul class="list-inline pull-right">
            <li access="supvisor" ng-show="isEditable"><a href="#/activity-edit/{{activity.Id}}/">
                <i class="fa fa-edit"></i>&nbsp;编辑</a></li>
            <li><a href="javascript:void(0)" onclick="window.print()"><i class="fa fa-print"></i>
                &nbsp;打印</a></li>
            <li access="user,supvisor"><a href="#/activity-task-delay/{{activity.Id}}/"><i class="fa fa-bar-chart-o">
            </i>&nbsp;延误</a></li>
            <li access="user,supvisor"><a href="#/project-summary/false/"><i class="fa fa-level-up">
            </i>&nbsp;返回</a></li>
        </ul>
    </div>
    <div class="alert alert-danger" ng-show="alertMessage">
        {{alertMessage}}</div>
    <blockquote>
        <p>
            {{activity.Description}}</p>
        <footer> 
            &nbsp; <a>{{activity.creatorName}}</a>&nbsp;于&nbsp;{{activity.Creation | jsonDateFormat | date:'yyyy-MM-dd HH:mm:ss'}}&nbsp;创建
            &nbsp; <span ng-if="activity.IsCompleted" class="text-success"><i class="fa fa-check-square-o"></i>&nbsp;活动已结束。</span>
        </footer>
    </blockquote>
    <div ng-include="taskListPage">
    </div>
</div>
