<div class="story container" ng-init="init()">
    <ul class="breadcrumb" ng-hide="projectId==0">
        <li><i class="fa fa-location-arrow"></i>&nbsp;当前位置</li>
        <li><a href="#/project-details/{{projectId}}/">项目</a></li>
        <li class="active">日程</li>
    </ul>
    <div class="page-header">
        <span class="lead"><i class="fa fa-edit"></i>&nbsp;编辑日程</span>
        <ul class="list-inline pull-right">
            <li><a ng-click="viewList()"><i class="fa fa-list"></i>&nbsp;日程列表</a></li>
            <li ng-show="id!=0"><a href="javascript:void(0);" ng-click="viewCalendar()"><i class="fa fa-calendar"></i>&nbsp;查看日历</a></li>
        </ul>
    </div>
    <form class="form-horizontal css-form" role="form" name="form">
    <!-- Modal -->
    <div class="modal fade" id="viewProjectDialog" tabindex="-1" role="dialog" aria-labelledby="viewProjectDialogLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="viewProjectDialogLabel">
                        <i class="fa fa-trash-o"></i>&nbsp;项目对话框</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">
                        确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        取消</button>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6">
            <textarea class="form-control" placeholder="内容" name="content" ng-model="calendar.Content"
                ng-maxlength="255" rows="3" required autofocus></textarea>
            <p class="help-block">
                （<span class="text-info">文本长度限制在255个字符内</span>）</p>
            <span class="text-danger" ng-show="form.content.$error.maxlength">警告：内容太长</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6">
            <label>
                开始日期</label>
            <input type="date" class="form-control" name="appointed" ng-model="calendar.appointed"
                required />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6">
            <label>
                结束日期</label>
            <input type="date" class="form-control" name="appointed" ng-model="calendar.endAppointed"
                required />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6">
            <label>
                事情级别</label>
            <div>
                <label class="radio-inline">
                    <input type="radio" name="level" ng-model="calendar.Level" value="1" />
                    普通
                </label>
                <label class="radio-inline">
                    <input type="radio" name="level" ng-model="calendar.Level" value="2" />
                    重要
                </label>
                <label class="radio-inline">
                    <input type="radio" name="level" ng-model="calendar.Level" value="3" />
                    紧急
                </label>
            </div>
        </div>
    </div>
    <hr ng-show="calendar.IsCaution" />
    <div class="form-group">
        <div class="col-sm-6">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="calendar.IsCaution" />
                    是否提醒
                </label>
            </div>
        </div>
    </div>
    <div class="form-group" ng-show="calendar.IsCaution">
        <div class="col-sm-6">
            <div class="form-inline">
                <input type="time" class="form-control" ng-model="calendar.caution" />
            </div>
        </div>
    </div>
    <div class="form-group" ng-show="calendar.IsCaution">
        <div class="col-sm-6">
            <label>
                重复周期</label>
            <div>
                <label class="radio-inline">
                    <input type="radio" name="repeat" ng-model="calendar.Repeat" value="0" />
                    从不
                </label>
                <label class="radio-inline">
                    <input type="radio" name="repeat" ng-model="calendar.Repeat" value="1" />
                    每天
                </label>
                <label class="radio-inline">
                    <input type="radio" name="repeat" ng-model="calendar.Repeat" value="2" />
                    每周
                </label>
                <label class="radio-inline">
                    <input type="radio" name="repeat" ng-model="calendar.Repeat" value="3" />
                    每月
                </label>
            </div>
        </div>
    </div>
    <hr ng-show="calendar.IsCaution || calendar.isMoreParticipants" />
    <div class="form-group">
        <div class="col-sm-6">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="calendar.isMoreParticipants" />
                    邀请更多成员参与
                </label>
            </div>
        </div>
    </div>
    <div class="form-group" ng-show="calendar.isMoreParticipants">
        <label class="col-sm-2 control-label">
            要参与的成员:</label>
        <div class="col-sm-4">
            <div class="input-group">
                <span class="input-group-addon" ng-show="id==0">
                    <input type="checkbox" ng-model="allParticipantChecked" ng-change="checkOrNotAllParticipant()"
                        ng-disabled="isParticipantLoading || isLoading">全部人员</span>
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        ng-disabled="isParticipantLoading || isLoading">
                        点击邀请成员 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="item in users"><a href="javascript:void(0)" ng-click="addParticipant(item)">
                            {{item.Name}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group" ng-show="calendar.isMoreParticipants">
        <div class="col-sm-6">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="item in participants">{{item.Name}}<span class="pull-right glyphicon glyphicon-remove"
                    ng-click="removeParticipant(item)"></span></li>
            </ul>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6">
            <button class="btn btn-primary" ng-click="save()" ng-disabled="form.$invalid || isLoading"
                ng-switch="isLoading">
                <span ng-switch-when="true">正在保存...</span> <span ng-switch-when="false">保存日程</span></button>
        </div>
    </div>
    <div class="alert {{alertMessageColor}}" ng-show="alertMessage">
        {{alertMessage}}</div>
    </form>
</div>
