<div class="story container" ng-init="init()">
    <ul class="breadcrumb">
        <li><i class="fa fa-location-arrow"></i>&nbsp;当前位置</li>
        <li><a href="#/project-details/{{projectId}}/">项目</a></li>
        <li class="active">日程</li>
    </ul>
    <div class="page-header">
        <span class="lead"><i class="fa fa-calendar-o"></i>&nbsp;日程</span>
        <ul class="list-inline pull-right">
            <li access="user"><a href="#/calendar-edit/{{projectId}}/"><i class="fa fa-plus"></i>&nbsp;新建</a></li>
        </ul>
    </div>
    <div class="alert alert-danger" ng-show="alertMessage">
        {{alertMessage}}</div>
</div>
