<div class="story container" ng-init="init()">
    <ul class="breadcrumb">
        <li><i class="fa fa-location-arrow"></i>&nbsp;当前位置</li>
        <li><a href="#/project-details/{{projectId}}/">项目</a></li>
        <li class="active">成员</li>
    </ul>
    <div class="page-header">
        <span class="lead"><i class="fa fa-users"></i>&nbsp;成员</span>
        <ul class="list-inline pull-right">
            <li><a href="javascript:void(0)" ng-click="refresh()"><i class="fa fa-refresh"></i>&nbsp;刷新</a></li>
        </ul>
    </div>
    <div class="alert alert-danger" ng-show="alertMessage">
        {{alertMessage}}</div>
    <form class="form-horizontal css-form" role="form" name="form">
    <div class="form-group">
        <div class="col-sm-3">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                    ng-disabled="isParticipantLoading" ng-switch="isParticipantLoading">
                    <span ng-switch-when="true">正在加载成员...</span> <span ng-switch-when="false">点击邀请成员 <i
                        class="caret"></i></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="item in users"><a href="javascript:void(0)" ng-click="addParticipant(item)">
                        {{item.Name}}</a></li>
                </ul>
            </div>
        </div>
    </div>
    </form>
    <ol class="list-group">
        <li class="list-group-item" ng-repeat="participant in participantList">
            <h4>
                {{participant.staffName}}&nbsp;&nbsp;<small>于&nbsp;{{participant.Creation | jsonDateFormat
                    | date:'yyyy-MM-dd'}}&nbsp;加入</small><span class="pull-right glyphicon glyphicon-remove"
                        ng-click="removeParticipant(participant)"></span></h4>
        </li>
    </ol>
</div>

