<div class="story container" ng-init="init()">
    <div class="page-header">
        <span class="lead"><i class="fa fa-edit"></i>&nbsp;编辑时钟</span>
        <ul class="list-inline pull-right">
            <li><a href="javascript:void(0);"><i class="fa fa-list"></i>&nbsp;时钟列表</a></li>
        </ul>
    </div>
    <form class="form-horizontal css-form" role="form" name="form">
    <!-- Modal -->
    <div class="modal fade" id="viewProjectDialog" tabindex="-1" role="dialog" aria-labelledby="viewProjectDialogLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="viewProjectDialogLabel">
                        <i class="fa fa-trash-o"></i>&nbsp;项目对话框</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">
                        确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        取消</button>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6">
            <label>
                重复</label>
            <div>
                <label class="radio-inline">
                    <input type="radio" name="repeat" ng-model="calendar.Repeat" value="0" />
                    响一次
                </label>
                <label class="radio-inline">
                    <input type="radio" name="repeat" ng-model="calendar.Repeat" value="1" />
                    每天
                </label>
                <label class="radio-inline">
                    <input type="radio" name="repeat" ng-model="calendar.Repeat" value="5" />
                    周一至周五
                </label>
                <label class="radio-inline">
                    <input type="radio" name="repeat" ng-model="calendar.Repeat" value="-1" />
                    自定义
                </label>
            </div>
        </div>
    </div>
    <div class="form-group" ng-show="calendar.Repeat==-1">
        <div class="col-sm-6">
            <select class="form-control" ng-model="calendar.customRepeat">
                <option value="11">星期一</option>
                <option value="12">星期二</option>
                <option value="13">星期三</option>
                <option value="14">星期四</option>
                <option value="15">星期五</option>
                <option value="16">星期六</option>
                <option value="10">星期日</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6">
            <div class="form-inline">
                <label>
                    提醒时间</label>
                <input type="time" class="form-control" ng-model="calendar.caution" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6">
            <textarea class="form-control" placeholder="备注" name="content" ng-model="calendar.Content"
                ng-maxlength="255" rows="3" required autofocus></textarea>
            <p class="help-block">
                （<span class="text-info">文本长度限制在255个字符内</span>）</p>
            <span class="text-danger" ng-show="form.content.$error.maxlength">警告：备注太长</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="calendar.isMoreParticipants" />
                    提醒更多的人
                </label>
            </div>
        </div>
    </div>
    <div class="form-group" ng-show="calendar.isMoreParticipants">
        <label class="col-sm-2 control-label">
            要提醒的成员:</label>
        <div class="col-sm-4">
            <div class="input-group">
                <span class="input-group-addon">
                    <input type="checkbox" ng-model="allParticipantChecked" ng-change="checkOrNotAllParticipant()"
                        ng-disabled="isParticipantLoading">全部人员 </span>
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        ng-disabled="isParticipantLoading">
                        点击邀请成员 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="item in users"><a href="javascript:void(0)" ng-click="addParticipant(item)">
                            {{item.Name}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group" ng-show="calendar.isMoreParticipants">
        <div class="col-sm-6">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="item in participants">{{item.Name}}<span class="pull-right glyphicon glyphicon-remove"
                    ng-click="removeParticipant(item)"></span></li>
            </ul>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6">
            <button class="btn btn-primary" ng-click="save()" ng-disabled="form.$invalid || isBusy"
                ng-switch="isBusy">
                <span ng-switch-when="true">正在创建中...</span> <span ng-switch-when="false">创建日程</span></button>
            <a class="btn btn-default" href="#/calendar-summary/" role="button">取消</a>
        </div>
    </div>
    <div class="alert alert-danger" ng-show="alertMessage">
        {{alertMessage}}</div>
    </form>
</div>
