<div class="container" ng-init="init()">
    <div class="navbar" role="navigation">
        <div class="navbar-header">
            <h3>
                <i class="fa fa-send-o"></i>&nbsp;业务通知</h3>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <!--<li><a href="#/task-details/{{activityId}}/{{taskId}}/"><i class="fa fa-level-up"></i>
                &nbsp;返回</a></li>-->
        </ul>
    </div>
    <hr class="header-hr" />
    <div class="alert alert-danger {{alertMessageVisible}}">
        {{alertMessage}}</div>
    <ol class="list-unstyled">
        <li ng-repeat="item in notificationList" style="border-bottom: dotted #ccc 1px; margin-top: 8px;">
        </li>
    </ol>
</div>
