<div class="story container" ng-init="init()">
    <div class="page-header">
        <span class="lead"><i class="fa fa-bookmark-o"></i>&nbsp;活动/项目</span>
        <ul class="list-inline pull-right hidden-print">
            <li><a href="javascript:void(0)" onclick="window.print()"><i class="fa fa-print"></i>
                &nbsp;打印</a></li>
            <li access="supvisor"><a href="#/activity-add/"><i class="fa fa-share-alt"></i>&nbsp;创建活动</a></li>
            <li access="supvisor"><a href="#/project-add/"><i class="fa fa-cube"></i>&nbsp;创建项目</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-sm-9" ng-controller="ActivityListCtrl" ng-init="init()">
            <div style="margin: 0 0 0 48px;" class="hidden-print">
                <form class="form-inline" role="form">
                <ul class="list-inline pull-right hidden-print" style="margin: 0 8px 0 0;">
                    <li>
                        <button type="button" class="btn btn-default btn-xs btn-link" ng-click="query()"
                            title="刷新" ng-disabled="events.isLoading">
                            <i class="fa fa-refresh"></i>
                        </button>
                    </li>
                </ul>
                <label class="control-label">
                    筛选:</label>
                <div class="form-group">
                    <select class="form-control input-sm" ng-model="faceModel.category" ng-change="query()"
                        ng-disabled="events.isLoading">
                        <option value="">所有类型</option>
                        <option ng-repeat="item in faceModel.categoryList | orderBy : 'Sequence'" value="{{item.Code}}">
                            {{item.Name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control input-sm" ng-model="faceModel.date" ng-change="query()"
                        ng-disabled="events.isLoading">
                        <option value="">所有时间</option>
                        <option value="-30">按月查询</option>
                        <option value="0">今天</option>
                        <option value="-1">昨天</option>
                        <option value="7">本周</option>
                        <option value="-7">上周</option>
                    </select>
                </div>
                <div class="form-group" ng-show="faceModel.date==='-30'">
                    <input type="month" class="form-control input-sm" ng-model="faceModel.month" ng-change="query()"
                        ng-disabled="events.isLoading" />
                </div>
                </form>
            </div>
            <br />
            <div ng-show="events.isLoading" class="text-center">
                <i class="fa fa-spinner fa-spin fa-3x"></i>
                <p class="text-red">
                    努力加载中，请等待...</p>
            </div>
            <div class="alert {{events.alertMessageColor}}" ng-show="events.alertMessage">
                {{events.alertMessage}}</div>
            <ul class="timeline">
                <li ng-repeat="item in events.activityList" ng-switch="item.isDate"><span ng-switch-when="true"
                    class="{{item.labelColor}} time-label">{{item.date}}</span> <i ng-switch-when="false"
                        class="{{item.categoryIcon}} bg-blue"></i>
                    <div ng-switch-when="false" class="timeline-item">
                        <span class="time"><i class="fa fa-user"></i>&nbsp;{{item.creatorName}}&nbsp;<i class="fa fa-clock-o"></i>&nbsp;{{item.Creation
                            | jsonDateFormat | date:'HH:mm:ss'}}</span>
                        <h3 class="timeline-header">
                            <a href="#/activity-details/{{item.Id}}/">{{item.Name}}</a></h3>
                        <div class="timeline-body">
                            {{item.Description}}
                        </div>
                        <div class='timeline-footer hidden-print'>
                            <a class="btn btn-success btn-xs" href="#/activity-details/{{item.Id}}/">详细信息</a>
                            <a class="btn btn-danger btn-xs" href="#/project-details/{{item.ProjectId}}/">所属项目</a>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="pager hidden-print" ng-hide="events.isLoading">
                <li class="{{faceModel.prevBtnClass}}"><a href="javascript:void(0);" ng-click="prevPage()">
                    上一页</a></li>
                <li class="{{faceModel.nextBtnClass}}"><a href="javascript:void(0);" ng-click="nextPage()">
                    下一页</a></li>
            </ul>
        </div>
        <div class="col-sm-3 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset" ng-controller="ProjectListCtrl"
                ng-init="init()">
                <ul class="list-inline pull-right hidden-print">
                    <li>
                        <button type="button" class="btn btn-default btn-xs btn-link" ng-click="query()"
                            title="刷新" ng-disabled="events.isLoading">
                            <i class="fa fa-refresh"></i>
                        </button>
                    </li>
                </ul>
                <h4>
                    最新项目</h4>
                <form class="css-form hidden-print" role="form">
                <div class="form-group">
                    <input type="month" class="form-control input-sm" ng-model="faceModel.month" ng-change="query()"
                        ng-disabled="events.isLoading" />
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="faceModel.isSoloInclude" ng-change="query()" ng-disabled="events.isLoading" />
                        包括单一活动项目
                    </label>
                </div>
                </form>
                <br />
                <div ng-show="events.isLoading" class="text-center">
                    <i class="fa fa-spinner fa-spin fa-2x"></i>
                    <p class="text-red">
                        努力加载中，请等待...</p>
                </div>
                <div class="alert alert-danger" ng-show="events.alertMessage">
                    {{alertMessage}}</div>
                <ol class="list-unstyled">
                    <li ng-repeat="item in events.projectList"><a href="#/project-details/{{item.Id}}/"
                        ng-switch="item.IsSolo"><i class="fa fa-cube" ng-switch-when="true"></i><i class="fa fa-cubes"
                            ng-switch-when="false"></i>&nbsp;{{item.Name}}</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>
