<div class="story container" ng-init="init()">
    <ul class="breadcrumb">
        <li><i class="fa fa-location-arrow"></i>&nbsp;当前位置</li>
        <li class="active">项目</li>
    </ul>
    <div class="page-header">
        <span class="lead" ng-switch="events.project.IsSolo"><i ng-switch-when="true" class="fa fa-cube">
        </i><i ng-switch-when="false" class="fa fa-cubes"></i>&nbsp;{{events.project.Name}}</span>
        <ul class="list-inline pull-right hidden-print">
            <li access="supvisor" ng-show="faceModel.isEditable"><a href="#/project-edit/{{events.project.Id}}/">
                <i class="fa fa-edit"></i>&nbsp;编辑</a></li>
            <li><a href="javascript:void(0)" onclick="window.print()"><i class="fa fa-print"></i>
                &nbsp;打印</a></li>
            <li access="supvisor" ng-show="faceModel.isEditable"><a href="#/participant-list/{{events.project.Id}}/">
                <i class="fa fa-users"></i>&nbsp;成员</a></li>
            <li><a href="#/calendar-list/{{events.project.Id}}/"><i class="fa fa-calendar-o"></i>
                &nbsp;日程</a></li>
            <li><a href="#/log-list/{{events.project.Id}}/"><i class="fa fa-magic"></i>&nbsp;记事</a></li>
            <li access="user,supvisor"><a href="#/project-summary/false/"><i class="fa fa-level-up">
            </i>&nbsp;返回</a></li>
        </ul>
    </div>
    <div ng-show="events.isLoading" class="text-center">
        <i class="fa fa-spinner fa-spin fa-3x"></i>
        <p class="text-red">
            努力加载中，请等待...</p>
    </div>
    <div class="alert alert-danger" ng-show="events.alertMessage">
        {{events.alertMessage}}</div>
    <blockquote>
        <p>
            {{events.project.Description}}</p>
        <footer> &nbsp; <a>{{events.project.creatorName}}</a>&nbsp;于&nbsp;{{events.project.Creation | jsonDateFormat | date:'yyyy-MM-dd HH:mm:ss'}}&nbsp;创建</footer>
    </blockquote>
    <div>
        <ul class="list-inline pull-right hidden-print">
            <li><a href="javascript:void(0)" ng-click="toggleAddActivityPanelVisibible()"><i
                class="fa fa-plus"></i>&nbsp;添加活动</a></li>
            <li><a href="javascript:void(0)" ng-click="refreshActivityList()"><i class="fa fa-refresh">
            </i>&nbsp;刷新列表</a></li>
        </ul>
    </div>
    <div class="clearfix">
    </div>
    <div class="well well-sm" ng-show="faceModel.addActivityPanelVisible">
        <form class="form-horizontal css-form" role="form" name="form">
        <div class="form-group">
            <label class="col-sm-1 control-label" style="margin-top: 24px;">
                类型:</label>
            <div class="col-sm-5">
                <div class="bs-glyphicons">
                    <ul class="bs-glyphicons-list">
                        <li ng-repeat="item in faceModel.categoryList | orderBy : 'Sequence'" ng-click="selectCategory(item)"
                            class="{{item.active}}"><span class="{{item.Icon}} fa-2x"></span><span class="glyphicon-class">
                                {{item.Name}}</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="活动名" name="name" ng-model="faceModel.name"
                    ng-maxlength="32" required autofocus>
                <p class="help-block">
                    （<span class="text-info">文本长度限制在32个字符内</span>）</p>
                <span class="text-danger" ng-show="form.name.$error.maxlength">警告：活动名太长</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <textarea class="form-control" placeholder="活动的概要介绍" name="desc" ng-model="faceModel.description"
                    ng-maxlength="255" rows="3"></textarea>
                <p class="help-block">
                    （<span class="text-info">文本长度限制在255个字符内</span>）</p>
                <span class="text-danger" ng-show="form.desc.$error.maxlength">警告：概要介绍太长</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <button class="btn btn-primary" ng-click="saveActivity()" ng-disabled="form.$invalid || events.isBusy"
                    ng-switch="events.isBusy">
                    <span ng-switch-when="true">正在创建中...</span> <span ng-switch-when="false">创建活动</span></button>&nbsp;&nbsp;
                <a href="javascript:void(0)" ng-click="cancel()">取消</a>
            </div>
        </div>
        </form>
    </div>
    <ol class="list-group">
        <li class="list-group-item" ng-repeat="item in events.activityList"><span class="pull-right">
            {{item.Creation | jsonDateFormat | date:'yyyy-MM-dd'}}</span> <a href="#/activity-details/{{item.Id}}/">
                <i class="{{item.icon}} fa-fw"></i>&nbsp; {{item.Name}}</a>
            <div class="clearfix">
                <p>
                    {{item.Description}}</p>
            </div>
        </li>
    </ol>
</div>
