<div class="story container" ng-init="init()">
    <div class="page-header">
        <span class="lead"><i class="fa fa-send-o"></i>&nbsp;任务通知</span>
        <ul class="list-inline pull-right">
            <li><a href="#/task-details/{{taskId}}/"><i class="fa fa-level-up"></i>&nbsp;返回</a></li>
        </ul>
    </div>
    <div class="alert alert-danger {{alertMessageVisible}}">
        {{alertMessage}}</div>
    <ol class="list-unstyled">
        <li ng-repeat="item in notificationList" class="biz-list-item" ng-switch="item.isLabel">
            <p ng-switch-when="true">
                <span class="text-green"><i class="fa fa-lemon-o"></i>&nbsp;{{item.label}}</span></p>
            <p ng-switch-when="false" style="font-weight: {{item.isUntreatedStatus}};">
                <mark>{{item.senderName}}</mark>
                &nbsp;<span style="color: #aaa;"><i class="fa fa-long-arrow-right"></i>&nbsp;{{item.receiverName}}</span>
                &nbsp; &nbsp; {{item.Content}}&nbsp;&nbsp;
                <button type="button" class="btn btn-xs btn-default" ng-click="check(item)" style="display: {{item.checkButtonVisible}};">
                    <i class="fa fa-check-square-o"></i>&nbsp;签收
                </button>
                <a data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom"
                    data-content="[发送人]：{{item.senderName}}, [发送时间]：{{item.Creation | jsonDateFormat | date:'yyyy-MM-dd HH:mm:ss'}};  [接收人]：{{item.receiverName}}, [签收时间]：{{item.Review | jsonDateFormat | date:'yyyy-MM-dd HH:mm:ss'}}"
                    bspopover><i class="fa fa-ellipsis-h"></i></a>
            </p>
        </li>
    </ol>
</div>
