<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="systemSettings" type="System.Configuration.NameValueSectionHandler"/>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
    </sectionGroup>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"/>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging"/>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings,Microsoft.Practices.EnterpriseLibrary.Caching" />
  </configSections>
  <systemSettings>
    <add key="db.dataSource" value="Data Source=localhost;Database=cully;User Id=root;Password=root;"/>
  </systemSettings>
  <!--spring start-->
  <spring>
    <parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data"/>
    </parsers>
    <context>
      <resource uri="~/config/common.xml"/>
      <resource uri="~/config/common-domain.xml"/>
      <resource uri="~/config/common-dao.xml"/>
      <resource uri="~/config/common-service.xml"/>
      <resource uri="~/config/common-wcf.xml"/>
    </context>
  </spring>
  <!--spring end-->
  <!--exception start-->
  <exceptionHandling>
    <exceptionPolicies>
      <add name="Log Only Policy">
        <exceptionTypes>
          <add name="Exception" type="System.Exception, mscorlib" postHandlingAction="None">
            <exceptionHandlers>
              <add name="LoggingExceptionHandler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging" logCategory="RollingCategory" eventId="5" severity="Error" title="Business Layer Exception" priority="-1" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="Wrap Policy">
        <exceptionTypes>
          <add name="Exception" type="System.Exception, mscorlib" postHandlingAction="ThrowNewException">
            <exceptionHandlers>
              <add name="WrapHandler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.WrapHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" exceptionMessage="Business Errors" wrapExceptionType="ThinkInBio.Common.Exceptions.BusinessLayerException,ThinkInBio.Common"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <!--exception end-->
  <!--logging start-->
  <loggingConfiguration tracingEnabled="true" defaultCategory="TestCat">
    <logFilters>
      <add name="Category" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, Microsoft.Practices.EnterpriseLibrary.Logging" categoryFilterMode="AllowAllExceptDenied">
        <categoryFilters>
          <add name="Tracing"></add>
        </categoryFilters>
      </add>
      <add name="Priority" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.PriorityFilter, Microsoft.Practices.EnterpriseLibrary.Logging" minimumPriority="5"/>
    </logFilters>
    <categorySources>
      <add name="RollingCategory" switchValue="All">
        <listeners>
          <add name="RollingFlatFileTraceListener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <errors name="errors" switchValue="All">
        <listeners/>
      </errors>
    </specialSources>
    <listeners>
      <add fileName="logs\\errors.log" rollSizeKB="100" timeStampPattern="yyyy-MM-dd"
       rollFileExistsBehavior="Overwrite"
       rollInterval="None" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0"
       traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0"
       name="RollingFlatFileTraceListener" />
    </listeners>
    <formatters>
      <add name="Default Formatter" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" template="Timestamp: {timestamp}&#xA;Message: {message}&#xA;Category: {category}&#xA;Priority: {priority}&#xA;EventId: {eventid}&#xA;Severity: {severity}&#xA;Title:{title}&#xA;Machine: {machine}&#xA;Application Domain: {appDomain}&#xA;Process Id: {processId}&#xA;Process Name: {processName}&#xA;Win32 Thread Id: {win32ThreadId}&#xA;Thread Name: {threadName}&#xA;Extended Properties: {dictionary({key} - {value}&#xA;)}"/>
    </formatters>
  </loggingConfiguration>
  <!--logging end-->
  <!--caching end-->
  <cachingConfiguration defaultCacheManager="ShortInMemoryPersistence">
    <backingStores>
      <add name="inMemory"
				type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching" />
    </backingStores>
    <cacheManagers>
      <add name="ShortInMemoryPersistence" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching"
				expirationPollFrequencyInSeconds="1"
				maximumElementsInCacheBeforeScavenging="10"
				numberToRemoveWhenScavenging="2"
				backingStoreName="inMemory" />
    </cacheManagers>
  </cachingConfiguration>
  <!--caching end-->
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="DemoWcfService">
        <endpoint address="" binding="webHttpBinding" contract="ThinkInBio.CommonApp.WSL.IDemoWcfService" behaviorConfiguration="RESTBehavior"/>
      </service>
      <service name="SignWcfService">
        <endpoint address="" binding="webHttpBinding" contract="ThinkInBio.CommonApp.WSL.ISignWcfService" behaviorConfiguration="RESTBehavior"/>
      </service>
      <service name="UserWcfService">
        <endpoint address="" binding="webHttpBinding" contract="ThinkInBio.CommonApp.WSL.IUserWcfService" behaviorConfiguration="RESTBehavior"/>
      </service>
      <service name="CategoryWcfService">
        <endpoint address="" binding="webHttpBinding" contract="ThinkInBio.CommonApp.WSL.ICategoryWcfService" behaviorConfiguration="RESTBehavior"/>
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="secure">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="RESTBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
</configuration>