.bs-glyphicons-list
{
    padding-left: 0;
    list-style: none;
}
.bs-glyphicons li
{
    float: left;
    padding: 6px;
    font-size: 10px;
    line-height: 1.4;
    text-align: center;
    border: 1px solid #fff;
    background-color: #f9f9f9;
}
.bs-glyphicons .glyphicon, .bs-glyphicons .fa
{
    margin-top: 3px;
    margin-bottom: 6px;
    font-size: 24px;
}
.bs-glyphicons .glyphicon-class
{
    display: block;
    text-align: center;
    word-wrap: break-word;
}
.bs-glyphicons li:hover
{
    color: #fff;
    background-color: #563d7c;
}
.bs-glyphicons .active
{
    color: #fff;
    background-color: #cc6699;
}
@media (min-width:768px)
{
    .bs-glyphicons
    {
        margin-left: 0;
        margin-right: 0;
    }
    .bs-glyphicons li
    {
        width: 12.5%;
        font-size: 12px;
    }
}