<?xml version="1.0"?>

<configuration>


  <configSections>
    <section name="systemSettings" type="System.Configuration.NameValueSectionHandler"/>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
    </sectionGroup>
  </configSections>
  
  <systemSettings>
    <add key="db.dataSource" value="Data Source=localhost;Database=cully;User Id=root;Password=root;" />
  </systemSettings>

  <!--spring start-->
  <spring>
    <parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data"/>
    </parsers>
    <context>
      <resource uri="~/config/common.xml"/>
      <resource uri="~/config/common-domain.xml"/>
      <resource uri="~/config/common-dao.xml"/>
      <resource uri="~/config/common-service.xml"/>
      <resource uri="~/config/common-wcf.xml"/>
      <resource uri="~/config/cully-dao.xml"/>
      <resource uri="~/config/cully-service.xml"/>
      <resource uri="~/config/cully-wcf.xml"/>
    </context>
  </spring>
  <!--spring end-->

  <system.web>
    <compilation debug="false" targetFramework="4.0" />
  </system.web>

  <system.serviceModel>
    <services>
      <service name="DemoWcfService" behaviorConfiguration="DefaultBehavior">
        <endpoint address="" binding="webHttpBinding" contract="ThinkInBio.CommonApp.WSL.IDemoWcfService" behaviorConfiguration="RESTBehavior"/>
      </service>
      <service name="SignWcfService" behaviorConfiguration="DefaultBehavior">
        <endpoint address="" binding="webHttpBinding" contract="ThinkInBio.CommonApp.WSL.ISignWcfService" behaviorConfiguration="RESTBehavior"/>
      </service>
      <service name="UserWcfService" behaviorConfiguration="DefaultBehavior">
        <endpoint address="" binding="webHttpBinding" contract="ThinkInBio.CommonApp.WSL.IUserWcfService" behaviorConfiguration="RESTBehavior"/>
      </service>
      <service name="BizNotificationWcfService" behaviorConfiguration="DefaultBehavior">
        <endpoint address="" binding="webHttpBinding" contract="ThinkInBio.CommonApp.WSL.IBizNotificationWcfService" behaviorConfiguration="RESTBehavior"/>
      </service>
      <service name="ProjectWcfService" behaviorConfiguration="DefaultBehavior">
        <endpoint address="" binding="webHttpBinding" contract="ThinkInBio.Cully.WSL.IProjectWcfService" behaviorConfiguration="RESTBehavior"/>
      </service>
      <service name="TaskWcfService" behaviorConfiguration="DefaultBehavior">
        <endpoint address="" binding="webHttpBinding" contract="ThinkInBio.Cully.WSL.ITaskWcfService" behaviorConfiguration="RESTBehavior"/>
      </service>
      <service name="LogWcfService" behaviorConfiguration="DefaultBehavior">
        <endpoint address="" binding="webHttpBinding" contract="ThinkInBio.Cully.WSL.ILogWcfService" behaviorConfiguration="RESTBehavior"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="RESTBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>

</configuration>
